# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ----------------------------
# Virtual environments
# ----------------------------
.venv/
.venv-rs/
venv/
ENV/
env/

# ----------------------------
# Environment variables
# ----------------------------
.env
.env.*

# ----------------------------
# Tests / coverage
# ----------------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Data
# ----------------------------
# Ignorar todo data
data/*

# ---- Permitir estructura necesaria ----
!data/picking/
!data/picking/summary_fillRate_packStructure/
!data/picking/summary_fillRate_packStructure/fillrate_latest_summary_fillRate_packStructure.json

!data/tests_picking/
!data/tests_picking/PackStructure.xlsx

!data/fillrate/
!data/fillrate/latest/
!data/fillrate/latest/fillrate_latest.xlsx

datasets/
captures/
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png
*.tiff
*.bmp

# ----------------------------
# YOLO runs (permitir solo modelos específicos)
# ----------------------------
runs/*
!runs/detect/
!runs/detect/runs_kuehne_nagel/
!runs/detect/runs_kuehne_nagel/barcode_v1/
!runs/detect/runs_kuehne_nagel/barcode_v1/weights/
!runs/detect/runs_kuehne_nagel/barcode_v1/weights/best.pt
!runs/detect/runs_kuehne_nagel/barcode_v1/weights/last.pt
!runs/detect/runs_kuehne_nagel/barcode_v1/args.yaml

!runs/detect/train2/
!runs/detect/train2/weights/
!runs/detect/train2/weights/best.pt
!runs/detect/train2/weights/last.pt

yolov8*.pt

# ----------------------------
# Temporary outputs
# ----------------------------
outputs/
results/